*{
    margin: 0px;
}

#header{
    background-color: #637d9d;
    color: white;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
}

a{
    text-decoration: none;

}


#cerrar-sesion{
    margin-left: 10px;
}

nav{
    background-color: #ff5722;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

nav a{
    padding: 20px;
}

/* Footer */
footer{
    color: white;
    background-color: #637d9d;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arreglar{
    min-height: calc(100vh - 150px - 40px - 150px );
}

.arreglar2{
    min-height: calc(100vh - 150px - 150px );
}