table{
    margin-top: 50px;
    margin-bottom: 171px;
}

tr{
    height: 30px;
}

.boton{
    background-color: #586F8C;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    width: 60px;
}

.boton:hover{
    background-color: #A7BDD9;
}
/*ESTILOS LOGIN*/

.contenedor-form-login{
    margin-top: 4em;
    margin-bottom: 4em;

}
#card-home{
    margin:auto;
}
#btnLogin{
    background-color: #011C40;
    color: #fff;
    padding: 0.5em 8em 0.5em 8em;

}
#btnOlvideClave{
    margin-top: 2em;
}

/*ESTILOS REGISTRO USUARIO*/

#agregar-usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    width: 400px;
}

label{
    margin-top: 20px;
}
#boton{
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: #0d0d0d;
    color: #fff;

}

input,select,textarea{
    border-radius: 5px;
    border: solid 1px black;
    width: 350px;
}

#tipo{
    border-radius: 6px;
    border: solid 1px #fac3c0;
}
